:root {
    --main-height: 800px;
}

.header {
    background-color: lightgrey;
    height: 10vh;
}

.header h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    font-size: 50px;
    margin: 0;
}

.header h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    font-size: 35px;
    margin: 0;
}

#user {
    background-color:#339999;
    color:white;
    width: 20%;
    height: 30vh;
    float: right;
}

#chat {
    background-color: steelblue;
    width: 20%;
    height: 50vh;
    float: right;
}

#section {
	width: 80%;
    height: 80vh;
    background-color: darkseagreen;
    text-align: center;
    float: left;
    overflow: hidden;
}

#footer {
    background-color:#FFCC00;
    height: 10vh;
    clear: both;
}

#header, #user, #section, #footer, #chat { text-align:center; }
#header { line-height:70px; }
#footer { line-height:100px; }
/* #section { line-height: 500px; }  */ /* 이게 영상 간격 오류의 범인이었다.*/
#user { line-height: 300px;}
#chat { line-height: 300px; }

html, body {
    margin: 0;
}

.video-div {
	border-radius: 5px; /*비디오 태두리를 둥글게*/
	border: 1px solid black; /*비디오 태두리 선*/
    /* margin: 5 5px; */
    margin: 10px; /*비디오 밖 상하좌우 여백*/
    width: 320px;
    text-align: left;
    overflow: hidden;
    display: inline-block;
    float: left;
}

.video-div video {
    width: 320px;
}

.video-div h2 {
	border-top: 5px solid #080808;
    padding: 5px 10px;
    margin: 0;
    margin-top: -5px;
    overflow: hidden;
    background-color: white;
    text-align: center;
}

