:root {
    --main-height: 800px;
}

#header {
    background-color:lightgrey;
    height: 10vh;
}

#user {
    background-color:#339999;
    color:white;
    width: 20%;
    height: 30vh;
    float: right;
}

#chat {
    background-color: steelblue;
    width: 20%;
    height: 50vh;
    float: right;
}

#section {
    width: 80%;
    height: 80vh;
    background-color: darkseagreen;
    text-align: left;
    float: left;
}

#footer {
    background-color:#FFCC00;
    height: 10vh;
    clear: both;
}

#header, #user, #section, #footer, #chat { text-align:center; }
#header { line-height:70px; }
#footer { line-height:100px; }
#section { line-height: 500px; }
#user { line-height: 300px;}
#chat { line-height: 300px; }

video {
    width: 320px;
    height: 240px;
    border-radius: 10px;
    margin: 10px;
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
}

html, body {
    margin: 0;
}